<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button

    (click)="sidenav.toggle()"
  >
<!--    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>-->
<!--    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>-->
    <mat-icon> menu </mat-icon>

  </button>
  <img src="../../../assets/BURLESQUE.png" width="150px">


</mat-toolbar>
<!--  <button mat-icon-button routerLink="/" >-->
<!--    <mat-icon> home </mat-icon>-->
<!--  </button>-->
<!--  BURLESCO-->
<!--</mat-toolbar>-->

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

<!--    <button mat-button class="menu-button" routerLink="/">-->
<!--      <mat-icon>home</mat-icon>-->
<!--      <span>Home</span>-->
<!--    </button>-->
    <button mat-button class="menu-button" [routerLink]="['/funcionariar','novo']">
      <mat-icon>person</mat-icon>
      <span>Cadastrar</span>
    </button>
   <button mat-button class="menu-button" routerLink="/detalhes">
      <mat-icon>description</mat-icon>
     <span>Funcionaria</span>
   </button>
    <button mat-button class="menu-button" [routerLink]="['/reserva']">
      <mat-icon>description</mat-icon>
      <span>Reserva</span>
    </button>
    <button mat-button class="menu-button" *ngIf="logado()" (click)="sair()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
    <button mat-button class="menu-button" *ngIf="!logado()" (click)="logar()">
      <mat-icon>login</mat-icon>
      <span>login</span>
    </button>

    <mat-divider></mat-divider>

<!--    <button mat-button class="menu-button" routerLink="/help">-->
<!--      <mat-icon>help</mat-icon>-->
<!--      <span>Help</span>-->
<!--    </button>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
