button{
  background: #ffa31a !important;
  max-width: 30px;
  max-height: 30px;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -40px;
  position: absolute;
  }


.btnEditar{
  margin-left: 3px;

  }
.btnDetalhes{
  margin-left: 45px;

}
.Toggle{
  .btnPesquisar{
    position: relative;
    top: 15px;
    left: 50px;

  }
  mat-icon{
    position: relative;
    right: 9px;
    bottom: 8px;
  }
  mat-datepicker-toggle{
    position: relative;
    top: 5px;
    right: 5px;
    margin-right: -5px;
  }
  .btnLimpar{
    position: relative;
    top: 15px;
    left: 100px;

  }
  .material-icons{
    position: relative;
    right: 9px;
    bottom: 8px;
  }
}
@media (max-width: 768px) {
  .botao-responsivo {
    padding: 8px 16px;
    font-size: 14px;
  }
}

