<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="formFuncionariaDetalhes">
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apelido:</mat-label>
      <input matInput formControlName="apelido">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Supervisor:</mat-label>
      <input matInput formControlName="supervisor">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Especialidade:</mat-label>
      <input matInput formControlName="especialidade">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor Atendimento:</mat-label>
      <input matInput formControlName="valorAtendimento">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="warning" [routerLink]="['/detalhes']" class="btn">Voltar</button>
  </div>
</form>
